*{
    margin: 0;
    padding: 0;
}
 a:link {
    color: white;
  }
  a:visited {
    color: white;
  } 
  a:hover {
    color: rgb(105, 255, 130);
  }
  a:active {
    color: blue;
  }
  a{
    text-decoration: none;
}
.navbar{
    background-color: #012;
    box-shadow: 0px 8px 8px #888;
    display: flex;
    justify-content: flex-start;

  }
.navbar-menu{
    display: flex;
    list-style: none;
    padding: 10px;
    width: 70%;
}
.navbar-menu li{
    padding: 20px;
    font-size: 18px;
    color: black;
}
.navbar-login-register{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;

}
.navbar-login-register li{
  padding: 20px;
  font-size: 18px;
}
.navbar-login-register li a{
  color: white;
}
.dropdown-item{
  color: black !important;
}
.card-header{
  font-size: 25px;
}